{{#if isLoggedIn}}  
{{> private-navbar}}  
{{else}}   
{{> public-navbar}}  
{{/if}} 

<div class="d-flex flex-wrap align-items-center justify-content-center homepageIntro">
  <div id="homepageText">
    <h2>welcome to...</h2>
    <h1>tri-via-hub</h1>
    <h4>scroll down for suggested categories!</h4>
  </div>
  <div>
    <img src="/assets/images/077-student-colour.svg" alt="student thinking about studies" id="homepageIllustration"/>
  </div>
</div>

<div class="d-flex justify-content-center scrollIcon">
<img src="https://img.icons8.com/ios/50/000000/circled-down-2.png"/>
</div>

<h3 class="categories mt-5 text-dark">Suggested Categories:</h3>

<main class="d-flex flex-wrap justify-content-around m-5" id="categories-container">
  <div class="card bg-dark m-3 homepageCard" id="17">
    <img src="/assets/images/nature.jpg" class="card-img" alt="nature">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Science & Nature</h5>
    </div>
  </div>
  <div class="card bg-dark m-3 homepageCard" id="15">
    <img src="/assets/images/video-game.jpg" class="card-img" alt="Video Game">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Video Games</h5>
    </div>
  </div>
    <div class="card bg-dark m-3 homepageCard" id="18">
    <img src="/assets/images/computer-science.jpg" class="card-img" alt="Computer Science">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Computer Science</h5>
    </div>
  </div>
  <div class="card bg-dark m-3 homepageCard" id="21">
    <img src="/assets/images/sports.jpg" class="card-img" alt="sports">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Sports</h5>
  </div>
  </div>
  <div class="card bg-dark m-3 homepageCard" id="9">
    <img src="/assets/images/general-knowledge.jpg" class="card-img" alt="General Knowledge">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">General Knowledge</h5>
  </div>
  </div>
  <div class="card bg-dark m-3 homepageCard" id="20">
    <img src="/assets/images/mythology.jpg" class="card-img" alt="mythology">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Mythology</h5>
  </div>
  </div>
  <div class="card bg-dark m-3 homepageCard" id="23">
    <img src="/assets/images/history.jpg" class="card-img" alt="history">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">History</h5>
  </div>
  </div>
  <div class="card bg-dark m-3 homepageCard" id="24">
    <img src="/assets/images/politics.jpg" class="card-img" alt="politics">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Politics</h5>
  </div>
  </div>
    <div class="card bg-dark m-3 homepageCard" id="22">
    <img src="/assets/images/geography.jpg" class="card-img" alt="geography">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Geography</h5>
  </div>
  </div>
    <div class="card bg-dark m-3 homepageCard" id="27">
    <img src="/assets/images/animals.jpg" class="card-img" alt="animals">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Animals</h5>
  </div>
  </div>
      <div class="card bg-dark m-3 homepageCard" id="28">
    <img src="/assets/images/vehicles.jpg" class="card-img" alt="vehicles">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Vehicles</h5>
  </div>
  </div>
      <div class="card bg-dark m-3 homepageCard" id="25">
    <img src="/assets/images/art.jpg" class="card-img" alt="art">
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-center">
      <h5 class="card-title homepageCategory">Art</h5>
  </div>
  </div>
