{{> public-navbar}}  

<div
  class="loginForm position-absolute top-50 start-50 translate-middle text-center w-25"
>
  <form id="loginForm">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="usernameEmail"
        placeholder="name@example.com"
      />
      <label for="usernameEmail">Username/Email Address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
      <label for="password">Password</label>
    </div>
    <div class="col-auto mt-4">
      <button type="submit" class="btn btn-primary mb-3 w-25">Login</button>
    </div>
  </form>
  <a href="/sign-up">Don't have an account? Sign up here!</a>
</div>

<div class="toast position-absolute top-75 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" id="loginToast">
  <div class="toast-header">
    <strong class="me-auto">Failed to log in!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Please check your username and password.
  </div>
</div>